.wp-block-button.is-style-fill-white {
   .wp-block-button__link {
      &:hover,
      &:focus-visible {
         background-color: var(--wp--preset--color--black) !important;
         border-color: var(--wp--preset--color--black) !important;
         color: var(--wp--preset--color--white) !important;
      }
      &:active {
         background-color: var(--wp--preset--color--white) !important;
         border-color: var(--wp--preset--color--white) !important;
         color: var(--wp--preset--color--black) !important;
      }
   }
}
.wp-block-button.is-style-outline-white {
   .wp-block-button__link {
      &:hover,
      &:focus-visible {
         background-color: var(--wp--preset--color--black) !important;
         border-color: var(--wp--preset--color--black) !important;
         color: var(--wp--preset--color--white) !important;
      }
      &:active {
         background-color: var(--wp--preset--color--white) !important;
         border-color: var(--wp--preset--color--white) !important;
         color: var(--wp--preset--color--black) !important;
      }
   }
}
.wp-block-button.is-style-fill-black {
   color: white !important;
   .wp-block-button__link {
      border: none !important;
      &:hover,
      &:focus-visible {
         background-color: #003c39 !important;
         border: none !important;
         // color: #e4fb53 !important;
         color: white !important;
      }
      &:active {
         background-color: var(--wp--preset--color--white) !important;
         border-color: var(--wp--preset--color--white) !important;
         color: var(--wp--preset--color--black) !important;
      }
   }
}

.single_add_to_cart_button {
   border: none !important;
   &:hover {
      // background-color: #e7aeae !important;
      background-color: #003c39 !important;
      color: white !important;
   }
}
