.wp-block-accordion {
   display: flex;
   flex-direction: column;
   gap: var(--wp--preset--spacing--3-75);
   &.is-two-columns .wp-block-accordion_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--wp--preset--spacing--3-75);
      @media (max-width: 782px) {
         grid-template-columns: repeat(1, 1fr);
         gap: 0;
      }
   }
   .dt-layout-cell {
      padding: 0 !important;
   }
   table {
      width: 100% !important;
      max-width: none;
      display: flex;
      flex-direction: column;
      thead,
      td.hidden,
      colgroup,
      tfoot {
         display: none;
      }
      td {
         box-shadow: none !important;
         border: none !important;
         width: 100%;
         padding: 0 !important;
      }
      tr {
         display: flex;
         @media (min-width: 783px) {
            &.is-last-row .wp-block-accordion__item {
               border-bottom: 1px solid var(--wp--preset--color--black);
            }
         }
         &:last-child .wp-block-accordion__item {
            border-bottom: 1px solid var(--wp--preset--color--black);
         }
      }
   }
   .wp-block-accordion__item {
      border-top: 1px solid #000;
      border-top-color: var(--wp--preset--color--white);
      .wp-block-accordion__item-title {
         display: flex;
         justify-content: space-between;
         margin: 0;
         align-items: center;
         font-weight: 300;
         font-family: var(--wp--preset--font-family--body);
         font-size: var(--wp--preset--font-size--1-375);
         // Reset button styles.
         button {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0;
            background-color: initial;
            border: none;
            color: currentColor;
            cursor: pointer;
            font-family: inherit;
            font-size: inherit;
            font-style: inherit;
            font-weight: inherit;
            line-height: 1;
            text-align: left;
            text-transform: inherit;
            padding: 1.5rem;
            &:focus-visible {
               outline: unset;
               font-weight: 500;
            }
         }
      }

      .wp-block-accordion__item-content {
         display: grid;
         grid-template-rows: 0fr;
         padding: 0 1.5rem;
         transition: all 0.25s ease-in-out;
         box-sizing: border-box;
         .accordion-content-wrapper {
            overflow: hidden;
            p {
               font-size: var(--wp--preset--font-size--1-125);
               line-height: 1.5;
               margin-top: 0;
            }
         }
      }
      &.is-expanded {
         .wp-block-accordion__item-content {
            grid-template-rows: 1fr;
         }
         .wp-block-accordion__item-title {
            button {
               svg {
                  line {
                     transition: transform 0.25s;
                     transform-origin: 50% 50%;

                     &.f {
                        transform: rotate(-90deg);
                        // transform-origin: 50% 50%;
                     }
                  }
               }
            }
         }
      }
      &:last-child {
         border-bottom: 1px solid var(--wp--preset--color--white);
      }
   }

   .accordion-filter-buttons {
      width: 100%;
      display: flex;
      button {
         flex: 1;
         padding-top: 1.5rem;
         padding-bottom: 1.5rem;
         border-radius: 0;
         border: 1px solid var(--wp--preset--color--black);
         background: transparent;
         color: var(--wp--preset--color--black);
         cursor: pointer;
         transition: all 0.2s;
         font-family: var(--wp--preset--font-family--heading);
         font-size: var(--wp--preset--font-size--x-large);
         &.is-active {
            background: var(--wp--preset--color--black);
            color: var(--wp--preset--color--base);
         }
         &:not(:first-child) {
            border-left: none;
         }
      }
   }
}
