.reseller-search-bar {
   display: flex;
   flex-direction: row;
   align-items: center;
   border-bottom: 1px solid #572f1e;
   #reseller-search {
      padding: 1rem;
      background-color: transparent;
      box-shadow: none;
      border: none;
      flex-grow: 1;
      &:focus-visible {
         outline: none;
      }
   }
}
.tiburon-reseller {
   width: 100%;
   &.has-separate-search-bar {
      .reseller-results-wrapper {
         height: calc(100dvh - 25rem);
         max-height: unset;
         @media (max-width: 782px) {
            height: calc(100dvh - 15rem);
         }
      }
   }
   .reseller-grid-header {
      padding-top: 1.88rem;
      padding-bottom: 0.88rem;
      > * {
         margin: 0;
      }
   }
   .reseller-results-wrapper {
      overflow: auto;
      max-height: 29rem;
      .reseller-grid {
         position: relative;
         column-count: 2;
         column-gap: 0.88rem;
         @media (max-width: 782px) {
            column-count: 1;
         }
         .reseller-loading {
            max-width: 50px;
            margin: 0 auto;
            padding: 4rem 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
         }
         .city-group {
            display: inline-block;
            width: 100%;
            margin-bottom: 1rem;
            .city-name {
               font-size: 1.25rem;
               font-weight: bold;
               margin: 0;
               margin-bottom: 0.5rem;
            }
            .store-list {
               list-style: none;
               padding-left: 0.62rem;
               margin: 0;
               gap: 1rem;
               display: flex;
               flex-direction: column;
               .store-entry {
                  margin: 0;
                  color: rgba(48, 48, 48, 0.7);
                  font-family: Apercu;
                  font-size: 0.75rem;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 150%; /* 1.125rem */
                  letter-spacing: 0.015rem;
                  display: flex;
                  flex-direction: column;
                  .store-name {
                     color: #303030;
                     font-family: Apercu;
                     font-size: 1rem;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 150%; /* 1.5rem */
                     letter-spacing: 0.02rem;
                  }
               }
            }
         }
      }
   }
}
